body {
    margin: 0;
    background-color: #f3f1f1;
}

* {
    color: #000;
    font-family: sans-serif;  
    text-decoration: none;
    
}

.nav {
    border-radius: 5px;
    background-color: #C4C4C4;
    margin: 30px;
    padding: 16px;
}

.nav__item {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.nav__item--1 {
    margin-left: 50px;
}

.nav__item--2{
    margin-left: 70px;
}

.nav__item--3{
    margin-right: 25px;
}

.hero {
    border-radius: 5px;
    margin: 30px;    
}

.hero img {
    border-radius: 5px;
    width: 100%;
    height: 600px;
}

.hero p{
    font-size: 32px;
    font-weight: 400;
}

main{
    border-radius: 5px;
    margin: 30px;
    height: 380px;
}

.card{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 4%;
}   

.card img{
    padding: 20px;
    border-radius: 25px;
}

.card--body {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 22%; 
    height: 400px;
}

.card--body p{
    width: 80%;
    height: 20px;
    margin-left: 40px;
}

.card--heading{
    margin-top: 50px;
}

button{
    background-color: #64697A;
    border: 0px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    width: 100%; 
    height: 35px;
    margin-top: 70px;
}

footer{
    border-radius: 5px;
    background-color: #C4C4C4;
    margin: 30px;
    margin-top: 150px;
    padding: 16px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav__item {
        margin: 10px 0;
    }

    .nav__item--1,
    .nav__item--2,
    .nav__item--3 {
        margin: 10px; /* Reset margin for each item */
    }

    .hero {
        margin: 20px; /* Adjust margin as needed */
    }

    .hero img {
        height: auto; /* Make the image responsive in terms of height */
    }

    .hero p {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%; /* Make the image responsive in terms of width */
        position: relative;
        right: 20px;
        bottom: 20px;
    }

    .card--body {
        width: 100%;
        margin-bottom: 60px
    }

    .card--body p {
        margin-left: 100px; /* Reset margin for smaller screens */
        position: relative;
        bottom: 50px;
    }

    button {
        margin-bottom: 20px; /* Adjust margin for smaller screens */
        height: 40px; /* Adjust height for smaller screens */
        position: relative;
        bottom: 120px;
    }

    footer {
       position: relative;
       top: 1300px;
    }
}
