body {
    background-color: #f3f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: sans-serif;  
    font-weight: bold;  
}

img{
    border-radius: 100px;
    margin-top: 50px;
    margin-left: 90px;
    width: 130px;
}

h3{
    font-size: 16px;
    text-align: center;
}

.main-content{
    background-color: #d2d2d2;
    border-radius: 5px;
    width: 300px;
    height: 270px;
}

#username{
    width: 65%;
    height: 25px;
    margin-top: 90px;
    margin-left: 50px;
    border-radius: 5px;
    border: 0px solid black;
    text-align: center;
}

#password{
    width: 65%;
    height: 25px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    border: 0px solid black;
    text-align: center;
}

.btn button {
    width: 32%;
    height: 25px;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: #fff;
}

.btn input {
    width: 32%;
    height: 25px;
    margin-left: 15px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: #fff;
}